//@import '../global.scss';


.sphere-blue {
  --color: #52d1f1;
  border-radius: 50%;
  background-color: var(--color);
  animation: sphere-blue-jump infinite var(--animation-time) var(--animation-timing-function);
}

@keyframes sphere-blue-jump {
  0% {
    // low position
    height: 0;
    width: 0;
    transform: translateX(calc(var(--base-pixel) / 2));
  }
  18% {
    // low position end
    height: 0;
    width: 0;
    transform: translateX(calc(var(--base-pixel) / 2));
  }
  22% {
    // to high position (+ little jump)
    transform: translateY(calc(var(--base-pixel) * 1.6 * (-1)));
    height:var(--base-pixel);
    width: var(--base-pixel);
  }
  24% {
    // to high position (+ little jump)
    transform: translateY(calc(var(--base-pixel) * 1.6 * (-1)));
    height: var(--base-pixel);
    width: var(--base-pixel);
  }
  28% {
    // high position
    transform: translateY(calc(var(--base-pixel) * (-1)));
    height: var(--base-pixel);
    width: var(--base-pixel);
  }
  65% {
    // high position ending
    transform: translateY(calc(var(--base-pixel) * (-1)));
    height: var(--base-pixel);
    width: var(--base-pixel);
  }
  67% {
    // high position ending
    transform: translateY(calc(var(--base-pixel) * (-1.6)));
    height: var(--base-pixel);
    width: var(--base-pixel);
  }
  70% {
    // little jump
    transform: translateY(calc(var(--base-pixel) * (-1.8)));
    height: var(--base-pixel);
    width: var(--base-pixel);
  }
  75% {
    // little jump slow
    transform: translateY(calc(var(--base-pixel) * (-1.6)));
    height: var(--base-pixel);
    width: var(--base-pixel);
  }
  80% {
    // back to low position
    transform: translateX(calc(var(--base-pixel) / 2));
    height: 0;
    width: 0;
  }
}
