@import '../global.scss';
$yellow: #ffe370;

.square-yellow {
  width: $base-pixel;
  height: $base-pixel;
  background-color: $yellow;
  position: absolute;
  bottom: 0;
  left: 0;
  //transform: translateX(-30px) translateY(-60px);
  animation: square-yellow-jump infinite $animation-time #{$animation-timing-function};
}

@keyframes square-yellow-jump {
  0% {
    height: 0px;
    transform:  translateX(0px) translateY(-60px);
  }
  37% {
    height: 0px;
    transform:  translateX(0px) translateY(-60px);
  }
  38% {
    height: $base-pixel; // little jump
    transform: translateX(0px) translateY(-60px);
  }
  43% {
      height: $base-pixel;
      transform: translateX(-30px) translateY(-60px) rotateZ(-90deg);
  }
  47% {
    height: $base-pixel;
    transform: translateX(-30px) translateY(-60px) rotateZ(-90deg);
  }
  63% {
    height: $base-pixel; // little jump
    transform: translateX(-30px) translateY(-60px) rotateZ(-90deg);
  }
  67% {
    height: $base-pixel; // little jump
    transform: translateX(0px) translateY(-60px) rotateZ(0deg);
  }
  68% {
    height: 0px;
    transform:  translateX(0px) translateY(-60px);
  }
  100% {
    height: 0px;
    transform:  translateX(0px) translateY(-60px);
  }
}
