.square-grey {
  --color:#8395a5;
  width: var(--base-pixel);
  height: var(--base-pixel);
  background-color: var(--color);
  position: absolute;
  bottom: 0;
  left: 0;
  //transform: rotateZ(90deg);
  animation: square-grey-jump infinite var(--animation-time) var(--animation-timing-function);
  border-radius: 0 90% 0 0;
}

@keyframes square-grey-jump {
  0% {
    height: 0px;
    transform: translateY(calc(var(--base-pixel) * (-3))) rotateZ(90deg);
  }
  31% {
    height: 0px;
    transform: translateY(calc(var(--base-pixel) * (-3))) rotateZ(90deg);
  }
  32% {
    height: var(--base-pixel);
    transform: translateY(calc(var(--base-pixel) * (-3))) rotateZ(90deg);
  }
  36% {
    height: var(--base-pixel);
    transform: translateY(calc(var(--base-pixel) * (-5))) rotateZ(25deg);
  }
  38% {
    height: var(--base-pixel);
    transform: translateY(calc(var(--base-pixel) * (-2))) rotateZ(0);
  }
  63% {
    height: var(--base-pixel);
    transform: translateY(calc(var(--base-pixel) * (-2))) rotateZ(0);
  }
  64% {
    height: var(--base-pixel);
    transform: translateY(calc(var(--base-pixel) * (-3.5))) rotateZ(0);
  }
  66% {
    height: var(--base-pixel); // little jump
    transform: translateY(calc(var(--base-pixel) * (-4))) rotateZ(45deg);
  }
  70% {
    height: var(--base-pixel);
    transform: translateY(calc(var(--base-pixel) * (-3))) rotateZ(90deg);
  }
  71% {
    height: 0px;
    transform: translateY(calc(var(--base-pixel) * (-3))) rotateZ(90deg);
  }
  100% {
    height: 0px;
    transform: translateY(calc(var(--base-pixel) * (-3))) rotateZ(90deg);
  }
}
