.square-orange {
  --color:#ff5e30;
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--base-pixel);
  //height: var(--base-pixel);
  background-color: var(--color);
  animation: square-orange-jump infinite var(--animation-time) var(--animation-timing-function);
}

@keyframes square-orange-jump {
  0% {
    height: 0px;
  }
  23% {
    height: 0px;
  }
  25% {
    height: var(--base-pixel); // to high position
  }
  82% {
    height: var(--base-pixel); // little jump
  }
  84% {
    height: 0px;
  }
}
