.square-black {
  --color: #052a4c;
  background-color: var(--color);
  width: var(--base-pixel);
  //height: var(--base-pixel);
  animation: square-black-jump infinite var(--animation-time) var(--animation-timing-function);
}

@keyframes square-black-jump {
  0% {
    height: 0px;
    transform: translateY(0) rotateZ(0);
  }
  20% {
    height: 0px;
    transform: translateY(0) rotateZ(0);
  }
  25% {
    height: var(--base-pixel); // little jump
    transform: translateY(calc(5.5 * var(--base-pixel) * (-1))) rotateZ(90deg);
  }
  29% {
    height: var(--base-pixel); // little jump
    transform: translateY(calc(var(--base-pixel) * (-1)) ) rotateZ(180deg);
  }
  30% {
    height: calc(2 * var(--base-pixel)); // little jump
    transform: translateY(0) rotateZ(180deg);
  }
  70% {
    height: calc(2 * var(--base-pixel)); // little jump
    transform: translateY(0) rotateZ(180deg);
  }
  72% {
    height: var(--base-pixel); // little jump
    transform: translateY(calc(var(--base-pixel) * 4 * (-1)) ) rotateZ(160deg);
  }
  77% {
    height: var(--base-pixel); // little jump
    transform: translateY(calc(var(--base-pixel) * 5 * (-1)) ) rotateZ(90deg);
  }
  83% {
    height: var(--base-pixel);
    transform: translateY(-1px) rotateZ(0);
  }
  84% {
    height: 0px;
    transform: translateY(0) rotateZ(0);
  }
  100% {
    height: 0px;
    transform: translateY(0) rotateZ(0);
  }
}
