@import '../global.scss';
$color: #052a4c;

.square-black {
  background-color: $color;
  width: $base-pixel;
  //height: $base-pixel;
  animation: square-black-jump infinite $animation-time #{$animation-timing-function};
}

@keyframes square-black-jump {
  0% {
    height: 0px;
    transform: translateY(0) rotateZ(0);
  }
  20% {
    height: 0px;
    transform: translateY(0) rotateZ(0);
  }
  25% {
    height: $base-pixel; // little jump
    transform: translateY(-135px) rotateZ(90deg);
  }
  29% {
    height: $base-pixel; // little jump
    transform: translateY(-30px) rotateZ(180deg);
  }
  30% {
    height: 2 * $base-pixel; // little jump
    transform: translateY(0) rotateZ(180deg);
  }
  70% {
    height: 2 * $base-pixel; // little jump
    transform: translateY(0) rotateZ(180deg);
  }
  72% {
    height: $base-pixel; // little jump
    transform: translateY(-120px) rotateZ(160deg);
  }
  77% {
    height: $base-pixel; // little jump
    transform: translateY(-150px) rotateZ(90deg);
  }
  //   80% {
  //     height: $base-pixel; // little jump
  //     transform: translateY(-100px) rotateZ(90deg);
  //   }
  83% {
    height: $base-pixel;
    transform: translateY(-1px) rotateZ(0);
  }
  84% {
    height: 0px;
    transform: translateY(0) rotateZ(0);
  }
  100% {
    height: 0px;
    transform: translateY(0) rotateZ(0);
  }
}
