.square-pink {
  width: var(--base-pixel);
  height: var(--base-pixel);
  --color:#fb97b5;
  background-color: var(--color);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(var(--base-pixel)) translateY(calc(var(--base-pixel) * -2));
  animation: square-pink-jump infinite var(--animation-time) var(--animation-timing-function);
}

@keyframes square-pink-jump {
  0% {
    height: 0px;
    transform: translateX(0) translateY(calc(var(--base-pixel) * -2)) rotateZ(0);
  }
  24% {
    height: 0px;
    transform: translateX(0) translateY(calc(var(--base-pixel) * -2)) rotateZ(0);
  }
  25% {
    height: var(--base-pixel); // little jump
    transform: translateX(0) translateY(calc(var(--base-pixel) * -2)) rotateZ(0);
  }
  27% {
    height: var(--base-pixel); // little jump
    transform: translateX(0) translateY(calc(var(--base-pixel) * -3.5)) rotateZ(0);
  }
  31% {
    height: var(--base-pixel); // little jump
    transform: translateX(var(--base-pixel)) translateY(calc(var(--base-pixel) * -2)) rotateZ(90deg);
  }
  70% {
    height: var(--base-pixel); // little jump
    transform: translateX(var(--base-pixel)) translateY(calc(var(--base-pixel) * -2)) rotateZ(90deg);
  }
  72% {
    height: var(--base-pixel); // little jump
    transform: translateX(var(--base-pixel)) translateY(calc(var(--base-pixel) * -3)) rotateZ(90deg);
  }
  75% {
    height: var(--base-pixel); // little jump
    transform: translateX(0) translateY(calc(var(--base-pixel) * -2)) rotateZ(0);
  }
  76% {
    height: 0;
    transform: translateX(0) translateY(calc(var(--base-pixel) * -2)) rotateZ(0);
  }
  100% {
    height: 0px;
    transform: translateX(0) translateY(calc(var(--base-pixel) * -2)) rotateZ(0);
  }
}
