body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --base-pixel: 30px;
  --animation-time: 4s;
  --base-pixel-border: calc(var(--base-pixel) / 2);
  --base-long: calc(1.414 * var(--base-pixel));//42px; // should be sqrt(base-pixel² + base-pixel²);
  --base-long-border : calc(var(--base-long) : 2);
  --base-long-threshold : calc(var(--base-long) - var(--base-pixel)) / 2;
  --animation-timing-function: linear;

}

.pos {
  position:absolute;
  bottom: 0;
  left:0;
  &.pos1 {
    left: var(--base-pixel);
  }
  &.pos2 {
    left: calc(2 * var(--base-pixel));
  }
  &.pos3 {
    left: calc(3 * var(--base-pixel));
  }
  &.pos4 {
    left: calc(4 * var(--base-pixel));
  }
  &.pos5 {
    left: calc(5 * var(--base-pixel));
  }
}

.otter-gif-animation.is-blocks {
  width: 195px;
}
.otter-gif-animation {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h1, h2 {
  display: flex;
  justify-content: center;
}